TANAW_ENV=development

POSTGRES_DB=tanaw_local
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/tanaw_local

JWT_SECRET_KEY=+pCMvZupjK4MwrTLZMEUzK8kxQNOHQ2SnOWlTxQzzY4hb0c8tIc0ZC0DAlNQIixLfqRkYG4n2E1EUrroOs7dMg==
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

DEFAULT_IT_USERNAME=default@email.com
DEFAULT_IT_PASSWORD=default

CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174
VITE_API_BASE_URL=http://localhost:8000

BACKEND_PORT=8000
FRONTEND_PORT=5173